@import "./variables.scss";
@import "./class.scss";
        @import "./mixin.scss";
@import './base';
@import './toast';
@import './icon.scss';

.bp-table {
height: auto;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-button {
height: auto;
width: max-content;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
font-size: 14px;
text-align: center;
padding: 0 12px;
border: 0;
border-radius: 4px;
cursor: pointer;
outline: none;
display: flex;
flex-direction: row;
align-items: center;
}
.bp-button-group {
height: auto;
width: max-content;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;

}
.bp-badge {
height: 16px;
width: max-content;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #DFE1E6;
min-width: 20px;
font-size: 12px;
color: #253858;
text-align: center;
line-height: 16px;
border: 0;
border-radius: 8px;
padding: 0 6px;
cursor: pointer;

}
.bp-input {
height: 32px;
width: 240px;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
line-height: 14px;
font-size: 14px;
padding: 10px 8px;
border: 1px solid #DFE1E6;
border-radius: 4px;
color: #172B4D;
box-sizing: border-box;

}
.bp-input:focus {
border: 1px solid #3172E0;

}
.bp-input:focus {
outline: none;

}
.bp-link {
height: 14px;
width: max-content;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: transform;
font-size: 14px;
text-align: center;
line-height: 14px;
cursor: pointer;
outline: none;
border: none;
display: inline-block;

}
.bp-status {
height: 16px;
width: max-content;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0 4px;
font-size: 12px;
line-height: 16px;
text-align: center;
border-radius: 4px;

}
.bp-tag {
height: 20px;
width: max-content;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0 4px;
border-radius: 4px;
font-size: 14px;
text-align: center;
line-height: 20px;

}
.bp-text {
height: auto;
width: auto;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: transparent;
padding: 0;
color: #172B4D;

}
.bp-viewport {
height: auto;
width: auto;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
margin: 0 24px;
position: relative;

}
.bp-select {
height: 40px;
width: 240px;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: rgba(9,30,66,0.04);
padding: 0;
margin: 0;
position: relative;
cursor: pointer;
box-sizing: border-box;
border-radius: 4px;

}
.bp-select:hover {
background: #EBECF0;

}
.bp-select .bp-option {
height: 32px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
color: #344563;
display: flex;
padding: 0 16px;
align-items: center;

}
.bp-select .bp-option:hover {
background-color: #EBECF0;

}
.bp-option {
height: 32px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
color: #344563;
display: flex;
padding: 0 16px;
align-items: center;

}
.bp-option:hover {
background-color: #EBECF0;

}
.bp-menu {
height: auto;
width: 208px;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;

}
.bp-menu .bp-sub-menu {
height: auto;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
min-height: 40px;
color: #505F79;
padding: 0 12px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}
.bp-menu .bp-sub-menu:hover {
color: #3172E0;

}
.bp-sub-menu .bp-menu-item {
height: 40px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
display: flex;
align-items: center;
cursor: pointer;
padding: 0 12px;
color: #505F79;
box-sizing: border-box;

}
.bp-sub-menu .bp-menu-item:hover {
color: #3172E0;

}
.bp-sub-menu {
height: auto;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
min-height: 40px;
color: #505F79;
padding: 0 12px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}
.bp-sub-menu:hover {
color: #3172E0;

}
.bp-sub-menu .bp-menu-item {
height: 40px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
display: flex;
align-items: center;
cursor: pointer;
padding: 0 12px;
color: #505F79;
box-sizing: border-box;

}
.bp-sub-menu .bp-menu-item:hover {
color: #3172E0;

}
.bp-menu-item {
height: 40px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
display: flex;
align-items: center;
cursor: pointer;
padding: 0 12px;
color: #505F79;
box-sizing: border-box;

}
.bp-menu-item:hover {
color: #3172E0;

}
.bp-china {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-scatter {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-line {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-stack {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-bar {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-pie {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-bar-line {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-radar {
height: 400px;
width: 100%;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;
position: relative;
box-sizing: border-box;

}
.bp-row-layout {
height: auto;
width: auto;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
display: flex;
flex-direction: row;
padding: 0;

}
.bp-column-layout {
height: auto;
width: auto;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
display: flex;
flex-direction: column;
padding: 0;

}
.login-img {
height: 200px;
width: 200px;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
background: #FFFFFF;
padding: 0;
margin: 0;

}
