{
    "globals": {
        "ga": true,
        "chrome": true
    },
    "plugins": [
        "vue"
    ],
    "parser": "vue-eslint-parser",
    "rules": {
        // "no-restricted-globals": ["error", "event", "fdescribe"],
        "indent": ["error", 4], // 4个空格缩进
        "no-redeclare": 2, //不允许变量重复声明
        "comma-dangle": ["error", "never"] //不允许对象中出现结尾逗号
    },
    "parserOptions": {
        "ecmaVersion": 8, //ECMAscript版本
        "sourceType": "module"
    }
}